<h3>Game (Flappy Bird clone)</h3>
<div></div>
<div>
    <h4>Features:</h4>
    <ul>
        <li>First program that changed function based on state (title, game, score)</li>
        <li>All images sized and positioned, including text</li>
        <li>Boundaries programmed to identify when the character hits a screen edge or an obstacle</li>
        <li>Score is saved, high score shows best score on each computer</li>
        <li>Direct url: tdadam.github.io/GameProject</li>
    </ul>
</div>
<div>
    <h4>Link:</h4>
    <a href="http://tdadam.github.io/GameProject" target="_new">'Flappy Mech' game</a>
</div>
<div>
    <h4>Screenshot:</h4>
    <img src="./images/game_flappy.png">
</div>
