<h3>Golf Score Card</h3>
<div>This was the first project to use javascript, which causes action rather than just structure/format.
</div>
<div>
    <h4>Features:</h4>
    <ul>
        <li>Retrieves information from two sites, Swing By Swing and Google Maps</li>
        <li>Works for any golf course in the Swing By Swing database (with the ID code)</li>
        <li>Map opens to the golf course clubhouse on page load</li>
        <li>Yardage will display based on player selection (Men/Women/Champion/Pro Tee)</li>
        <li>Clicking on a hole number, yardage, par, or handicap (if available) will recenter map</li>
        <li>Tee and hole indicated on map, as well as path from last hole and to next tee</li>
        <li>Total and over/under calculated as each hole total entered</li>
        <li>Options only show and/or function if applicable or available</li>
        <li>When round is finished, message opens declaring winner and gives an evaluation based on over/under</li>
        <li>Direct url: tdadam.github.io/GolfCard</li>
    </ul>
</div>
<div>
    <h4>Link:</h4>
    <div>
        <ol>
            <li>Click link below</li>
            <li>Enter t_adam87@yahoo.com for the email</li>
            <li>Click Retrieve Account</li>
            <li>Enter 'viewproject' for the password</li>
            <li>Click Login</li>
            <li>Click Allow Access</li>
        </ol>
    </div>
    <a href="http://tdadam.github.io/GolfCard" target="_new">Golf Score Card</a>
</div>
<div>
    <h4>Screenshot:</h4>
    <img src="./images/golf_card.png">
</div>