<h1>Welcome to my index site!</h1>
<h7>(obviously a work in progress, but it's something - right?)</h7>
<h4>When clicking a tab above you will find:</h4>
<ul>
    <li>Brief introduction to the project</li>
    <li>List highlighting the major features</li>
    <li>Link to the site</li>
    <li>Image of the main page of the site</li>
</ul>
<h4>Just a few notes:</h4>
<ul>
    <li>Clicking a link will open the project in a second tab</li>
    <li>Selecting a new link will replace the content in the second tab</li>
</ul>