<h3>Portfolio</h3>
<div>This was the first project I completed.
    It is primarily an introduction to html, the structure of the webpage.
</div>
<div>
    <h4>Features:</h4>
    <ul>
        <li>Sidebar to navigate to areas on main page</li>
        <li>Working contact form within sidebar</li>
        <li>Footer to navigate to additional pages</li>
        <li>Images inserted into paragraphs, positioning</li>
    </ul>
</div>
<div>
    <h4>Link:</h4>
    <a href="http://tdadam.github.io/Portfolio/html/Main_Page" target="_new">Portfolio Project</a>
</div>
<div>
    <h4>Screenshot:</h4>
    <img src="./images/Portfolio.png">
</div>