<h3>Resume</h3>
<div>This project was essentially the Portfolio take 2.
    The resume is more concise, although they both should be able to access all other projects.
This project concentrated on css, the format of the webpage.</div>
<div>
    <h4>Features:</h4>
    <ul>
        <li>Accordion style information sections</li>
        <li>Images are links to the organization website</li>
        <li>Responsive, page adjusts to screen width</li>
        <li>Direct url: tdadam.github.io/Resume</li>
    </ul>
</div>
<div>
    <h4>Link:</h4>
    <a href="http://tdadam.github.io/Resume" target="_new">Resume</a>
</div>
<div>
    <h4>Screenshot:</h4>
    <img src="./images/resume.png">
</div>