<h3>To Do List</h3>
<div>This appears to be a more simple project, but was the first using the Angular framework for javascript.
The purpose of Angular is to have a single page website, while changing the information displayed and having data persist when changing tabs/views.</div>
<div>
    <h4>Features:</h4>
    <ul>
        <li>Tasks and About tabs display different information without reloading the page</li>
        <li>Lists and items are not deleted when switching between Tasks and About</li>
        <li>Items are sorted by date due</li>
        <li>Tasks can be deleted or marked completed and archived</li>
        <li>Archived tasks can be removed or recovered</li>
        <li>Future Goal: save the lists and items to the local computer storage so reloading does not clear the information (not yet implemented)</li>
        <li>Direct url: tdadam.github.io/ngToDo</li>
    </ul>
</div>
<div>
    <h4>Link:</h4>
    <a href="http://tdadam.github.io/ngToDo" target="_new">To Do List generator</a>
</div>
<div>
    <h4>Screenshot:</h4>
    <img src="./images/to_do.png">
</div>