<h4>Just for fun, here's a sample of my favorite artists on YouTube:</h4>
<h3>Peter Hollens, acapella</h3>
<div>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/gxRWaaHvipg" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/yD1c7795z-M" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/vcVkCKjG00g" frameborder="0"
                  allowfullscreen></iframe></span>
</div>
<br>
<h3>Taylor Davis, violin</h3>
<div>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/b_MI8WeUKns" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/VL6sKMnEMts" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/GuR1FxLzWMI" frameborder="0"
                  allowfullscreen></iframe></span>
</div>
<br>
<h3>The Piano Guys, cello/piano duo</h3>
<div>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/qrHFg47Mopk" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/17GLE-16_3g" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/09RUuTAM2H0" frameborder="0"
                  allowfullscreen></iframe></span>
</div>
<br>
<h3>Others...</h3>
<div>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/n4JD-3-UAzM" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/CRfwX_UdomA" frameborder="0"
                  allowfullscreen></iframe></span>
    <span><iframe width="280" height="155" src="https://www.youtube.com/embed/Mz9mSLqbf7Y" frameborder="0" allowfullscreen></iframe></span>
</div>
